*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 300px;
}
.logo {
  font-size: 32px;
  color: #01422A;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 10%;
}
.navbar a{
  position: relative;
  font-size: 18px;
  color: #2e2e2e;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  padding: 10px;
  transition: top 0.3s;
}
.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #01422A;
  transition: 0.5s;
}
.navbar a:hover::before{
  width: 100%;
}

.button {
  display: inline-block;
  border-radius: 6px;
  background-color: #2e2e2e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 3%; 
  margin-bottom: 3%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.text-center {
  text-align: center;
  padding-top: 140px;
}
.hero{
  height: 100vh;
  text-align: center;
  color: white;
}
.centered1{
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
	padding-top: 120px;
	font-size: 72px;
  color: #fafafa;
  letter-spacing: 4px;
}
.centered2{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
	padding-top: 100px;
	font-size: 32px;
  color: #fafafa;
  letter-spacing: 4px;
}
.centered3{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  padding: 60px 0;
  background-color: white;
}
.section2 {
  color: white;
  padding: 60px 0;
  background-color: #01422A;
}

.hero {
  background-image: url('background.png'); /* Replace 'path/to/your/image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.hero-content {
  text-align: center;
}

.container h2 {
  align-self: start;
  justify-content: center;
  font-size: 48px;
  color: #2e2e2e;
  align-items: center;
  margin-bottom: 20px;
}
.container p {
  justify-content: center;
  font-size: 24x;
  color: #2e2e2e;
  align-items: center;
  padding-top: 20px;
}
.title{
  display: contents;
  align-items: baseline;
}
.container {
  display: flex;
}
.left-column {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.right-column {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.box {
  background-color: #2e2e2e;
  padding: 20px;
  text-align: center;
}

.large {
  height: 400px; /* Adjust height of larger boxes */
  width: 425px;
  /* display: flex;  */
  margin-left: 60%;
  margin-top: 6%;
  justify-content: center;
  align-items: center;
  
}

.small {
  width: 510px;
  height: 267px;
  /* display: flex;  */
  margin-left: 20%;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
}

.allicon{
  height: 50px;
}

.boxtitle{
  color:#1F7354;
}
.boxtext{
  color:white !important;
  font-size: 17x;
}

.large2 {
  height: 400px; /* Adjust height of larger boxes */
  width: 1024px;
  /* display: flex;  */
  background-color: #1F7354;
  margin-left: 23%;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  
}

.boxfaq{
  flex: 5;
  display: flex;
  flex-direction: column;
}
.faqbox{
  height: 90px; /* Adjust height of larger boxes */
  width: 1000px;
  /* display: flex;  */
  margin-left: 23%;
  margin-top: 0%;
  justify-content: center;  
  align-items: center;
  border: 2px solid #2e2e2e;
}
.btn {
  border: none;
  margin-top: -50%;
  margin-right: -90%;
  font-size: 70px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  background-color: #0000;
} 

#wrapper {
  background: #ccc;
  overflow: hidden;
  transition: height 200ms;
}

.svg1 {
  width: 20px;
}

.svg1 {
  margin-left: -10%;
}